* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    padding: 0;
}

body {
    height: 100vh;
}

img {
    height: 25px;
    width: 25px;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(201, 211, 201);
}

/* ------------------ PROJECTS ------------------ */

.addProjectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    background-color: rgb(141, 170, 135);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    height: 45px;
}

.addProjectButton:hover {
    background-color: rgb(186, 127, 194);
}

.projectManager {
    display: flex;
    position: absolute;
    top: 60px;
    flex-direction: column;
    height: min-content;
    width: 100%;
    background-color: rgb(200, 210, 200);
    border-radius: 5px;
    border: 1px solid black;
}

.projectElement {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 1px 2px;
    border-radius: 5px;
    gap: 10px;
    padding: 0 5px 0 5px;
}

.projectElement:hover {
    background-color: rgb(146, 140, 148);
}

.addProjectElement {
    border: 1px dashed rgb(100, 110, 100);
    justify-content: flex-start;
}

.projectElement *:first-child {
    margin-right: auto;
}

.ProjectButton:hover, .projectTitle:hover {
    transform: scale(1.2);
}

.editProjectInput {
    border: 1px solid blue;
    font-size: 1.2em;
    width: 30%;
}

/* ------------------ POSTS ------------------ */

.postManager {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(148, 124, 148);
    gap: 5px;
    padding: 30px;
}

.postElement {
    display: flex;
    align-items: center;
    gap: 10px;
}

.postContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.checkBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    border-radius: 5px;
    border: 1px solid black;
    flex: 0 0 auto;
}

.checkInsideCircle {
    height: 20px;
    width: 20px;
}

.checked .checkBox .checkInsideCircle {
    display: block;
}

.checked .post {
    background-color: rgb(126, 105, 126);
}

.checked .post>p {
    text-decoration: line-through;
}

.post,
.postButton {
    background-color: rgb(152, 184, 184);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 10px;
    flex: 1 0 auto;
}

.post:hover,
.postButton:hover {
    background-color: rgb(134, 155, 155);
}

.post *:first-child {
    margin-right: auto;
}

.postButtonImage:hover,
.postDate:hover,
.postTitle:hover {
    transform: scale(1.1);
}


/* ------------------ ADDPOST ------------------ */

.postElement:last-child {
    margin-left: 32px;
    flex-direction: column;
    gap: 0px;
}

.postButton {
    justify-content: center;
    width: 100%;
}

.postButton.open {
    border-radius: 5px 5px 0 0;
}

.close {
    margin: auto;
}

.close.closed {
    transform: rotate(180deg);
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    background-color: rgb(152, 184, 184);
    border-radius: 0 0 5px 5px;
}

.fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 5px;
    max-width: 100%;
}

.titleDate {
    display: flex;
    justify-content: space-between;
    gap: 10px
}

.input {
    border: 1px solid black;
    font-size: 1.2em;
}

.input.title {
    min-width: 0px;
    max-width: 30%;
    flex: 1 1 auto;
    height: 1.2em;
}

.input:invalid {
    border: 1px dashed rgb(236, 132, 132);
}

.input.description {
    min-width: 0px;
    flex: 0 1 auto;
    height: 5em;
    resize: none;
    overflow: scroll;
}

.date {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dateText:hover {
    transform: scale(1.2);
}

.formButton.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(152, 184, 184);
    width: 100%;
    border: none;
    height: 30px;
}

.formButton.submit:hover {
    background-color: rgb(96, 153, 96);
}

.hidden {
    display: none;
}